:root {
  --bg-color: #ffffff;
  --bg-content-color: #edf2f4;
  --title-color: #2b2d42;
  --body-color: #8d99ae;
  --primary-color: #d90429;
  --secondary-color: #ef233c;
  --accent-color: #ff8600;
  --disabled-color: #9db4c0;

  --content-width: 860px;
  --transition: 0.2s;
}

$light-dark: (
'100': hsl(210, 17%, 98%),
'200': hsl(210, 16%, 93%),
'300': hsl(210, 14%, 89%),
'400': hsl(210, 14%, 83%),
'500': hsl(210, 11%, 71%),
'600': hsl(208, 7%, 46%),
'700': hsl(210, 9%, 31%),
'800': hsl(210, 10%, 23%),
'900': hsl(210, 11%, 15%)
);

$breakpoints: (
  'xs': 0rem, // 0px mobile
  'sm': 40rem, // 640px tablet
  'md': 62rem, // 992px laptop
  'lg': 75rem, // 1200px desktop
  'xlg': 90rem, // 1440px large desktop
);
