---
import ThemeToggler from '../base/buttons/ThemeToggler';
import Link from '../base/links/Link';
---
<nav>
  <div style="padding: 20px;">    
    <Link className="link title" href="#" text="DEV STARTER"/>
  </div>
  <div class="links">    
    <Link className="link" href="#" text="Portfolio "/>
    <Link className="link" href="#" text="CV"/>
    <Link className="link" href="#" text="Contact "/>
    <Link className="link" href="#" text="Blog "/>
  </div>
  <div class="toggler">
    <ThemeToggler client:load/>
  </div>
</nav>

<style lang="scss">
  nav {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .link {
      text-decoration: none;
      color: var(--primary-color);
      font-size: x-large;

      &:hover{
        color: var(--secondary-color);
      }

      &.title {
        font-size: 2.5rem;
      }
    }
    .links {
        display: flex;
        align-items: center;
        gap: 40px;
      }
    .toggler {
      display: flex;
      align-items: center;
    }
  }
</style>