@use '../../styles/mixins.scss' as m;

.footer {
  background-color: var(--bg-content-color);
  text-align: center;
  font-size: 0.8rem;

  > .container {
    @include m.flex-center;
    flex-direction: column;

    > .copyright {
      font-weight: 500;
    }
  }
}